@font-face {
   font-family: 'ChenYuluoyan-Thin';
   font-display: swap;
   src: url('file:///C:/Users/ST/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-09-23_085550/fonts/ChenYuluoyan-Thin/font.ttf');
}
